* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

/* common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

.btn {
  border-radius: 999px;
  color: #ff5b2e;
  border: 1px solid #ff5b2e;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.container {
  width: 1140px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

/* Header */

.header-top {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__item {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6085;
  margin-left: 36px;
}

.header-top__item:hover {
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
}

.header-top__btn {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  min-width: 117px;
  height: 50px;
  line-height: 50px;
  color: #000958;
  border: 1px solid #000958;
  padding: 18px 32px;
}

.header-hero {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;
  column-gap: 120px;
}

.header__media {
  position: relative;
  display: flex;
}

.header__image {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 388px;
  height: 488px;
  border-radius: 16px;
  background: #fe997b;
  border: 3px solid #fff;
}

.header__image--img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}

.header__decor {
  position: absolute;
  z-index: -1;
}

.header__decor--left {
  left: -58px;
  bottom: 10px;
}

.header__decor--right {
  top: 16px;
  right: -43px;
}

.header__image-small {
  align-self: flex-end;
  width: 186px;
  height: 244px;
  margin: 0 0 -58px -24px;
  border: 2px solid #f7dddf;
  background: #faa7ad;
}

.header__hero--list {
  position: absolute;
  left: 120px;
  bottom: -94px;
  width: 250px;
  height: 156px;
  padding: 18px 14px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
}

.header__hero--list__item {
  display: flex;
}

.header__hero--list__item--title {
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #181e52;
}

.header__hero--list__item--thumb {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fec23f;
  margin-left: 10px;
  box-shadow: 0px 4px 21px 0px #f7a70c52;
  object-fit: cover;
}

.header__hero--list__item--info {
  margin-left: 9px;
}

.header__hero--list__item--skeleton {
  margin-top: 8px;
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.header__hero--list__item--separate {
  width: 222px;
  border: 2px solid #f2f2f2;
  margin: 20px 0;
  border-radius: 99px;
}

.header__content {
  width: 517px;
  height: 440px;
  border-radius: 31px;
}

.header__title {
  font-family: Sora;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.3;
  text-align: left;
  color: #000958;
}

.header__desc {
  margin-top: 2.4rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
  color: #656689;
}

.header__actions {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.header__btn {
  margin-right: 24px;
  display: flex;
  min-width: 189px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
  background: #ff5b2e;
  justify-content: center;
  align-items: center;
}

.header__content--btn {
  display: block;
  margin-right: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.header__btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #fffaf5;
  box-shadow: 4px 3px 10px -1px #bf290066;
  border-radius: 50%;
}

.header__link {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000958;
  text-decoration: underline;
}

/* About */
.about {
  margin-top: 207px;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 200px;
}

.about__content--intro {
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #5e6085;
}

.about__content--title {
  width: 446px;
  margin-top: 15px;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
  color: #000958;
}

.about__content--desc {
  width: 431px;
  margin-top: 24px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  text-align: left;
  color: #656689;
}

.about__content--list {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  gap: 36px;
  margin-top: 54px;
}

.about__content--item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}

.about__content--item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}

.about__content--item::after {
  position: absolute;
  content: "";
  width: 11.81px;
  height: 7.87px;
  border-left: 2px solid #fff2e5;
  border-bottom: 2px solid #fff2e5;
  rotate: -45deg;
  left: 6px;
  top: 5px;
}

.about__media {
  position: relative;
}

.about__media--card {
  position: absolute;
  width: 136px;
  height: 156px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px #55f0ff2b;
  padding: 30px 26px;
  top: 106px;
  left: -19px;
}

.about__media--card__title {
  font-family: Sora;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.about__media--card__desc {
  width: 83px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  text-align: center;
  color: #c6f4f9;
}

.about__media--card__decor {
  position: absolute;
  top: -40px;
  left: 88px;
}

.about__media--img-wrap {
  position: relative;
  width: 494px;
  margin-left: auto;
}

.about__media--img-wrap::after {
  position: absolute;
  inset: auto 0 0 0;
  z-index: -1;
  content: "";
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
}

.about__media--img-wrap__img {
  width: 450px;
  display: block;
  margin: 0 auto;
}

.about__media--decor {
  position: absolute;
  top: 157px;
  right: -50px;
  z-index: -1;
}

/* Feature */
.feature__inner {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature__media {
  display: flex;
  margin-right: 78px;
}

.feature__media--wrap {
  position: relative;
  width: 458px;
  border-radius: 18px;
  border: 2px solid #ffffff;
  box-shadow: 0px 3px 63px 0px #99b7d096;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
}

.feature__media--decor__item {
  position: absolute;
}

.feature__media--decor__item:first-child {
  top: 13px;
  right: 64px;
}

.feature__media--decor__item:nth-child(2) {
  top: -16px;
  right: 13px;
}

.feature__media--decor__item:nth-child(3) {
  top: 33px;
  right: -21px;
}

.feature__media--decor__item:nth-child(4) {
  top: 268px;
  right: -35px;
}

.feature__media--decor__item:nth-child(5) {
  bottom: 150px;
  right: 19px;
}

.feature__media--decor__item:last-child {
  bottom: -55px;
  right: -42px;
}

.feature__content--title {
  width: 543px;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
  color: #000958;
}

.feature__content--desc {
  width: 511px;
  margin-top: 24px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  text-align: left;
  color: #656689;
}

.feature__content--list {
  position: relative;
  margin-top: 52px;
  display: flex;
  column-gap: 56px;
}

.feature__content--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 14px;
  cursor: pointer;
}

.feature__content--list::after,
.feature__content--item__active::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #ff5b2e;
  border-radius: 1px;
  opacity: 0.07;
}

.feature__content--item__active::after {
  width: 95px;
  opacity: 1;
}

.feature__content--item__title {
  display: block;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #48496a;
  margin-left: 11px;
}

.feature__content--tab__item {
  display: none;
}

.feature__content--tab__item--active {
  display: block;
}

.feature__content--intro {
  width: 391px;
  margin-top: 36px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
  color: #656689;
}

.feature__content--link {
  display: inline-block;
  margin-top: 32px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #ff5d31;
  padding-bottom: 5.5px;
  text-align: center;
}

/* Service */
.service {
  margin-top: 130px;
  background: #fff6ed;
}

.service__intro {
  padding-top: 68px;
}

.service__intro--desc {
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #5e6085;
}

.service__intro--title {
  margin-top: 15px;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: #000958;
}

.service__column {
  margin-top: 71px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 64px;
}

.service__card--item {
  margin-top: 25px;
  width: 294px;
  height: 208px;
  border-radius: 10px;
  border: 2px solid #ffbc7a42;
  background: #ffffff;
  padding: 30px 22px;
}

.service__card--item__title {
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #000958;
  padding-left: 12px;
  border-left: 2px solid #ffa187;
}

.service__card--item__desc {
  margin-top: 18px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
  color: #656689;
}

.service__card--item__action {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.service__card--item__action--link {
  display: block;
  margin-right: 6px;
  font-family: Sora;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  color: #34396a;
}

.service__media--wrap {
  position: relative;
  margin-top: 18px;
}

.service__media--wrap::after {
  content: "";
  position: absolute;
  width: 410px;
  height: 350px;
  left: 16px;
  right: 16px;
  bottom: 0;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  border-radius: 10px;
}

.service__media--wrap__img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
}

.service__media--wrap-btn {
  display: flex;
  justify-content: center;
}

.service__media--btn {
  display: inline-block;
  margin-top: 45px;
  min-width: 214px;
  height: 56px;
  line-height: 56px;
  border-radius: 31px;
  border: 1px;
  opacity: 0.6px;
  border: 1px solid #ff5b2e;
  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
  color: #ff5b2e;
  background: transparent;
}

/* Staff */
.staff {
  padding: 130px 0;
}

.staff__desc {
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #5e6085;
}

.staff__heading {
  margin-top: 15px;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: #000958;
}

.staff__list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
}

.staff__item {
  text-align: center;
}

.staff__item--title {
  margin-top: 34px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #656689;
}

.staff__item--name {
  margin-top: 14px;
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #000958;
}

.staff__item--img-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;
}

.staff__item--img-wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 94%;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  border-radius: inherit;
  bottom: 0;
  left: 0;
}

.staff__item--img-wrap::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: calc(100% + 36px);
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.staff__item:nth-child(1) .staff__item--img-wrap::after {
  background-image: url(../images/img/staff-decor-1.png);
}
.staff__item:nth-child(2) .staff__item--img-wrap::after {
  background-image: url(../images/img/staff-decor-2.png);
}
.staff__item:nth-child(2) .staff__item--img-wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(3) .staff__item--img-wrap::after {
  background-image: url(../images/img/staff-decor-3.png);
}
.staff__item:nth-child(3) .staff__item--img-wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(4) .staff__item--img-wrap::after {
  background-image: url(../images/img/staff-decor-4.png);
}
.staff__item:nth-child(4) .staff__item--img-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff__item:nth-child(even) .staff__item--img-wrap::after {
  background-position: 0 16px;
}

.staff__item--img {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
  border-radius: inherit;
}

.staff__btn {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.staff__btn-btn {
  display: inline-block;
  min-width: 193px;
  height: 56px;
  line-height: 56px;
  opacity: 0.6px;
  color: #ff5b2e;
  background: transparent;
}

/* Price */
